body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
header {
    background-color: rgb(65, 158, 158);
    height: 105px;
    position: relative;
}
#app-title {
    color: #fff;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 4.2em;
    font-style: italic;
    position: absolute;
    right: 140px;
    top: 48px;
}
#tagline-description {
    color:rgb(65, 158, 158);
    margin: 0;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 1.4em;
    font-style: italic;
    position: absolute;
    right: 253px;
    top: 111px
}
#main-section {
    margin: 0;
    padding: 0;
    height: 100%;
}
#main-section h2 {
    margin: 0;
}
.btn-login-div {
    margin-top: 100px;
}
.btn-intro {
    display: block;
    margin: 3px auto;
    width: 160px;
    height: 65px;
    cursor: pointer;
}
.btn-login {
    background-color: rgb(65, 158, 158);
    color: #fff;
    border-style: none;
}
.btn-login:hover {
    background-color: rgb(62, 151, 151);
}
.btn-signup {
    background-color: #fff;
    color: rgb(65, 158, 158);
    border-color: rgb(65, 158, 158);
    border-style: solid;
}
.btn-signup:hover {
    background-color: rgb(249, 249, 249);
    border-color: rgb(62, 151, 151);
    color: rgb(62, 151, 151);
}
h2 {
    text-align: center;
    padding: 20px 0 10px;
}
#signup-form {
    width: 153px;
    margin: 0 auto;
}
.signup-field {
    display: block;
    margin: 3px 0;
}
#signup-form-submit {
    display: block;
    width: 75px;
    margin: 0 auto;
}
.error-div {
    text-align: center;
    color: red;
}
.signup-confirmation-div, .signin-div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.signin-div input {
    display: block;
}
table, tr, td {
    border: 1px solid black;
}